.contenido {
    font-family: 'roboto';
}
.contenido article p:first-of-type{
    font-size: 18px;
}
.contenido article p:nth-of-type(2) {
    font-size: 16px;
  }
.contenido article h4{
    font-size: 16px;
}
h3{
    font-size: 24px;
}
img {
    width: 100%;
    height: auto; 
    max-width: 300px;
  }
