.contenido {
    font-family: 'roboto';
    margin: 0 auto; 
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.productos{
    display: flex;
    justify-content: space-between; /* Espacio entre los productos */
    flex-wrap: nowrap; /* Hace que los productos se alineen en filas si el espacio es pequeño */
}
/* Flexbox para el contenedor de productos */
.productos-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
/* Estilo para cada articulo */
article{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    box-sizing: border-box;
    width: auto;
    padding: 10px;
}

/* Detalles del artículo */
.detalles-articulo {
    position: relative;
    border-top: 1px solid #ebebeb; 
    background-color: white;  
    display: flex;
    flex-direction: column;
}
.precio-descuento{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px ;
    margin-top: 50px;
    color:  #39b54a;
}
.precio {
    max-width: 30%;/* El precio ocupa el 30% del espacio */
    margin: 0;
    color: black;
}
.descuento {
    max-width: 70% ; /* El descuento ocupa el 70% del espacio */
    margin: 0;
    text-align: right; 
}
.icono-camion{
    position: absolute;
    top: -15px;
    right: 20px;
    left: 300px; 
    color:#39b54a ;
    border-radius: 50%;
    border: 2px solid #39b54a;
    width: 55px; 
    height: 55px;
    padding: 5px;
    overflow: hidden;
}
.contenido article p:first-of-type{
    font-size: 18px;
}
.contenido article p:nth-of-type(2) {
    font-size: 16px;
  }
.contenido article h4{
    font-size: 16px;
}
h3{
    font-size: 24px;
    width: 100%;
}
img {
    width: 100%;
    height: auto; 
    max-width: auto;
  }
