/* Estilo para el logo */
.logo {
    width: 200px;
    height: 100px;
  }
/* Estilos para la barra de navegación*/
.main-header {
    background-color: #EAC926 ;
    font-family: 'roboto';
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }
  /* Estilo de íconos */
i{
  font-size: 2em;
}

.burger-menu{
  background-color: #1259c3;
  color: #ebebeb;
  border-radius: 10px;
  padding: 10px;

}

.fa-bars{
  background-color: #1259c3;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 3vh;
}
/* Estilo de listas */
ul{
  list-style: none;
}
/* Estilo para el footer */
.footer{
    font-family: 'roboto';
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Estilo de los íconos */
.my-icon{
  color:#1259c3;
  
}

/* Media Queries para Mobile */
@media (max-width: 768px) {
  .burger-menu{
      display: flex;
      justify-content: center;
      cursor: pointer;
  }
  .main-header{
    width: 100%;
  }
  .nav-index{
    display: none;
  }
  .contenido{
    width: 100%; 
  }
  .contenido article h4{
    display: none;
  }
}

/* Media Queries para Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .burger-menu {
      display: none;
  }
.detalles-articulo{
  box-shadow: 0px 0px 10px rgb(100, 100, 100)
}
}

/* Media Queries para Desktop (mínimo 1024px) */
@media (min-width: 1024px) {
  .nav {
      box-shadow: none;
  }
  .burger-menu{
    display: none;
  }
}